.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

}

.login-form {
    text-align: center;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }

  h1 {
    font-size: 70px;
    font-family: Impact;
  }

  h2 {
    font-size: 50px;
    font-family: Impact;
  }