.login {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.login-form {
    max-width: 300px;
  }
  .login-form-forgot {
    float: right;
  }
  .login-form-button {
    width: 100%;
  }