body {
    /* background: rgb(255, 103, 103); */
    background: url("https://image.freepik.com/free-photo/blurred-background-blur-bookshelves-book-store-background-education-concept_7190-15.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.header {
    background: rgba(46, 231, 255, 0.671);
    height: 20%;
    background-size: cover;
    background-position: center;
    font-size: 60px;
    font-family: impact;
    color: rgb(1, 6, 51);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 10px;
}

.button-timer{
    height: 30px;
    font-size: 15px;
    font-family: helvetica;    
}

.button-logout{
    height: 30px;
    font-size: 15px;
    font-family: helvetica;    
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.log {
    background:rgba(46, 231, 255, 0.404);
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content: space-evenly;
}

.log-title{
    background: rgba(46, 154, 255, 0.822);
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    color : black;
}   
.log-details {
    text-align: left;
    padding: 10px;
    color: black;
}

.log-date {
    background : rgba(46, 240, 255, 0.404);
    text-align: left;
    padding: 10px;
    color: black;
}

.activity-header {
    font-family: Arial;
    font-size: 30px;
    color: black;
}