.TimerLog {
    text-align: center;
  }

  .TimerLog-Header {
   background: url("https://image.freepik.com/free-photo/blurred-background-blur-bookshelves-book-store-background-education-concept_7190-15.jpg");
   height: 200px;
   background-size: cover; 
   background-position: center; 
   font-size: 60px; 
   font-family: impact;
   color: black;
   display: flex; 
   align-items: flex-end; 
   justify-content: space-between;
  }
  


  .TimerLog-Body {
    background-color: #282c34;
    min-height: 6vh;
    font-size: 35px;
    color: white;
  }
  
  .TimerLog-InputTitle{
    background-color: #282c34;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: black;
    padding-bottom: 15px;
    padding-left: 40px;
    padding-top: 25px;
  }

  .TimerLog-Input{
    background-color: #282c34;
    display: flex;
    align-items: center;
    font-size: 20px;
    color: white;
    padding-bottom: 15px;
    padding-left: 20px;
  }

  .TimerLog-InputDetails{
    background-color: #282c34;
    align-items: center;
    font-size: 20px;
    color: black;
    padding-bottom: 15px;
    padding-left: 20px;
  }
  
  .TimerLog-allInput{
      flex-direction: row;
  }

  
  .TimerLog-Footer {
    background-color: #282c34;
    min-height: 100vh;
    font-size: 35px;
    color: black;
   }

  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  